monitoring/.env.exporter*
traefik/.env
monitoring/idrac.yml
pihole/.env
unifi/.env
cloudflared/.env
authelia/config/configuration.yml
authelia/.env
authelia/config/users_database.yml
auth/.env
immich/.env
