PG_PASS=""
AUTHENTIK_SECRET_KEY=""
AUTHENTIK_BOOTSTRAP_PASSWORD=""
AUTHENTIK_BOOTSTRAP_EMAIL=""
AUTHENTIK_BOOTSTRAP_TOKEN=""
AUTHENTIK_EMAIL__HOST=""
AUTHENTIK_EMAIL__PORT="25"
AUTHENTIK_EMAIL__USE_TLS="true"
AUTHENTIK_EMAIL__FROM=""
